/*
Theme Name: LGM2017
Theme URI: http://libregraphicsmeeting.org/2017/
Author: Gunga
Author URI: https://gunga.com.br
Template: twentysixteen
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@font-face {
    font-family: 'osp-din';
    font-style: normal;
    font-weight: normal;
    src: url("fonts/osp-din/OSP-DIN.ttf") format("truetype");
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    src: url("fonts/ubuntu-font-family/Ubuntu-R.ttf") format("truetype");
}

body,
button,
input,
select,
textarea {
    color: #1a1a1a;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

/*
.site {
    background-color: #fff;
    background-image: url("../../uploads/2017/03/header.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 20%;
    width: 100%;
}
*/

.site {
    background-color: #fff;
    background-image: url("img/headerpage.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 1%;
    width: 100%;
}

.site-inner {
    background: rgba(0, 0, 0, 0) url("img/fundo.png") repeat scroll 0 0;
    margin: 0 auto;
    max-width: 1320px;
    position: relative;
    background-size: 100% auto;
}


input[type="date"], input[type="time"], input[type="datetime-local"], input[type="week"], input[type="month"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"] {
    background: #e6cd0a linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) repeat scroll 0 0;
    border: 1px solid #e6cd0a;
    border-radius: 2px;
    color: #000;
    padding: 0.625em 0.4375em;
    width: 100%;
}

.widget {
    border: none;
}

.entry-title a {
    color: #000;
}

.entry-title a:hover, .entry-title a:focus {
   color: #e6cd0a;
   text-decoration: underline;
}

textarea {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e6cd0a;
    border-radius: 2px;
    color: #000;
    padding: 0.625em 0.4375em;
    width: 100%;
}

a {
    color: #000 !important;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
    color: #000 !important;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
    text-decoration: underline;
}

.main-navigation {
    font-family: ubuntu;
    font-size: 1.5em;
    font-weight: 500;
    position: relative;
}

.site-branding {
    background: rgba(0, 0, 0, 0) url("img/logoLGM.png") no-repeat left top;
    width: 100%;
}

.site-title {
    font-family: osp-din, dejavu-sans, sans-serif;
    font-size: 3.438rem !important;
    font-weight: normal;
    height: 272px !important;
    line-height: 1;
    margin: 2% 0 0 38.5%;
    width: 1%;
}

.site-description {
    color: #000;
    font-family: osp-din, dejavu-sans, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    margin: -7.5% 0 0 35.3%;
    position: absolute;
    z-index: 999999 !important;
}

.site-info {
    display:none;
}

.site-header-menu {
    width: 100%;
}

.main-navigation .menu-item-has-children > a::after {
    content: "ï±";
    position: absolute;
    right: 16%;
    top: 35%;
}

.main-navigation ul ul .menu-item-has-children > a::after {
    right: 10%;
    top: 25%;
    transform: rotate(90deg);
}

.main-navigation ul ul li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #e6cd0a;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0;
}

.main-navigation ul ul::before {
    border-color: #e6cd0a transparent;
    border-width: 0 10px 10px;
    right: 9px;
    top: -9px;
}

.main-navigation ul ul {
    border-bottom: 1px solid #e6cd0a;
    display: block;
    left: -999em;
    margin: 0;
    position: absolute;
    z-index: 99999;
}
