---
eleventyNavigation:
  parent: Home
  key: News
  order: 1
---
{% heading 'h1', 'All News', 'all-news' %}

<p>Follow us in the Fediverse: <a href="https://post.lurk.org/@lgm">@lgm@post.lurk.org</a></p>

{% news collections.news %}
