@font-face {
  font-family: RobotoFlex;
  src:url("./RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].woff2") format("woff2");
  font-weight:100 900;
}

@font-face {
  font-family: RobotoFlex;
  src:url("./RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].woff2") format("woff2");
  font-style:italic;
  font-weight:100 900;
}

:root {
    background: #333;
    font-family: RobotoFlex;
    --hue-offset: 0turn;
    --greenyellow: oklch(91.3% 0.2335 calc(130.02deg + var(--hue-offset)));
    --deeppink: oklch(72.83% 0.19707545854163525 calc(351.9947080594076deg + var(--hue-offset)));
}

body {
    max-width: 72em;
    margin: 0 auto;
}


/* move out of view as we use SVG to dispaly the information visually */
header :is(h1, h2){
    position: absolute;
    top: -1000vh
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 1em;
    container: wrapper / inline-size;
}


.content {
    background: white;
    flex: max-content;
}


header {
    display: grid;
    grid-template-columns: 17em auto;
    grid-template-rows: auto auto 1fr 2.6em;
    grid-template-areas:
        "logo-boxes filler-1"
        "logo-text reimagination"
        "logo-text filler-2"
        "logo-text nav";
}


header .filler {
    background: white;
}

header .filler-1 {
    grid-area: filler-1;
}

header .filler-2 {
    grid-area: filler-2;
}

header .identity-logo-container{
    grid-area: logo;
}

header :is(.identity-logo-boxes, .identity-logo-text, .identiy-reimagination) {
    width: 100%;
    box-sizing: border-box;
    display: block;
    border-style: solid;
    border-color: white;
    border-bottom: none;
    border-width: 0;

}

header .identity-logo-boxes {
    grid-area: logo-boxes;
    border-width: 1.5em .2em 0 .2em;
}

header .identity-logo-text {
    grid-area: logo-text;
    border-width: 0 .5em 0 .5em;
}

header .identiy-reimagination {
    grid-area: reimagination;
    border-width: 0 .5em 0 0;
}

nav {
    white-space: nowrap;
    /* prevent the collapsibles from pushing the content down */
    overflow: visible;
    height: 2.3em;
    position: relative;
    z-index: 5;
    grid-area: nav;
}
nav > *{
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

nav ul{
    margin: 0;
    padding: 0;
}
nav ul > li{
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav .past_editions li {
    display: block;
}

/* collapsible button*/
.past_editions > span {
    display: block;
    background: black;
    color: white;
    margin: .4em;
    padding: .3em;
    min-width: 11em;
}
.past_editions > span:after{
    padding-left: .5em;
    float: right;
    content: "…";
}

/* Not changing this indicator on :hover, as then it
 * also shows when the open menu locked .
 */
.past_editions.ui_collapsible_mixin-open > span:after {
    content: "X";
}

.past_editions.ui_collapsible_mixin-closed > ul {
    display: none;
}

:is(
    .past_editions.ui_collapsible_mixin:hover,
    .past_editions.ui_collapsible_mixin-open
){
    background: linear-gradient(var(--greenyellow, greenyellow), var(--deeppink, deeppink));
}

:is(
    .past_editions.ui_collapsible_mixin:hover,
    .past_editions.ui_collapsible_mixin-open
) > ul {
    display: block;
}

nav a, nav span {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav a {
    display: block;
    background: white;
    margin: .4em 0 .4em .4em;
    padding: .3em;
}
.past_editions a{
    margin-right: .3em;
}

nav a:hover {
    color: var(--deeppink, deeppink);
    text-decoration: underline;
    text-decoration-thickness: .2em;
    text-decoration-color: var(--greenyellow, greenyellow);
}

.play_pause {
    --symbol-url-play: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='10 12 12 24'><path d='M10,31.4v-14.8l11,7.4'></path></svg>");
    --symbol-url-pause: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='10 12 12 24'><path d='M10,32v-16h4v16zm6,0v-16h4v16z'></path></svg>");
    --symbol-size: 3.1em;
    background: no-repeat var(--symbol-url-play);
    background-size: contain;
    position: absolute;
    width: calc(var(--symbol-size)/2);
    height: var(--symbol-size);
    border: none;
    cursor: pointer;

}

.play_pause span {
    position: absolute;
    top: -1000vh;
}
.play_pause,
.play_pause.is_pausing {
    background: no-repeat var(--symbol-url-play);
}

.play_pause.is_playing {
    background: no-repeat var(--symbol-url-pause);
}

@container wrapper (width <= 870px) {
    header {
        grid-template-areas:
            "logo-boxes filler-1"
            "logo-text reimagination"
            "logo-text filler-2"
            "nav nav";
    }

    nav a:first-child {
        margin-left: 0;
    }

    header .identity-logo-text {
        border-bottom: .5em solid white;
    }
}

@container  wrapper (width <= 750px) {
    header .filler-2 {
        display: none;
    }
    header {
        grid-template-columns: 17em auto;
        grid-template-areas:
            "logo-boxes filler-1"
            "logo-text filler-1"
            "reimagination reimagination"
            "nav nav";
    }
    header .identiy-reimagination{
        border: .5em solid white;
    }
}
@container wrapper (width <= 550px) {
    header .filler {
        display: none;
    }
    header nav {
        width: 3em;
        overflow: hidden;
    }
    header {
        display: block;
    }
}


.heading_anchor{
    text-decoration: none;
    font-size: 1rem;
    color: grey;
    font-weight: normal;
    margin-inline-start: -.8em;
}

.content {
    padding: 1.5em 4em 1.5em 17em;
}
.content h1 {
    font-size: 4em;
    font-variation-settings: "opsz" 48, "wdth" 54, "wght" 500;
    margin-block-end: 0;
}

.content :is(p, li) {
    font-size: 1.4rem;
    font-variation-settings: "opsz" 16, "wdth" 125;
    margin: 0;
    line-height: 1.4;
}
.content p + p {
    text-indent: 1.5em;
}

.content :is(ul, ol) {
    list-style-position: inside;
    padding: 0;
}
