---
layout: lgm25.njk
title: Program
eleventyNavigation:
  key: Program
  order: 1.5
---

{% heading 'h1', title, page.fileSlug %}

{% for dayData in dailySchedules.days %}
    {{ macro.legend() }}
    {% set formattedDate = dayData.dateAndStartTime.toLocaleDateString('en-DE', {
                    weekday: "long",
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                    timeZone: dailySchedules.timeZone[1],
                    timeZoneName: 'short'
                })
    %}
    {% set day = dayData.dateAndStartTime.toLocaleDateString('en-US', { weekday: "long", timeZone: dailySchedules.timeZone[1]}) %}
    {% heading 'h2', formattedDate, day %}
<table class="schedule">
    {% for scheduleItem in dayData.schedule %}
    {{ macro.renderScheduleRow(dailySchedules.timeZone[1], scheduleItem, true) }}
    {% endfor %}
    {% set scheduleItem = dayData.schedule | last %}
    {% set endItem = {startTime: dayData.realEndTime, type: "inject", content: "Day's End"} %}
    {{ macro.renderScheduleRow(dailySchedules.timeZone[1], endItem, true) }}
</table>


{% if day === "Friday" %}

{% heading 'h2', 'Friday Evening Photowalk', 'Photowalk' %}

<p>
Bring your gear. We meet after the days program at the venue.
</p>

{% endif %}

{% endfor %}

{% heading 'h2', 'Final Gathering at <a href="https://bruderherznuernberg.de"/>Bruderherz</a>', 'final-gathering' %}
<div class="closing-night">
<p>
Join us for the last evening of the conference at Bruderherz. Food and
drinks are available. If you're interested, please describe what you
plan to order at the conference front desk so that the restaurant can
better prepare.<br />
<strong>Start Time</strong> 19:00<br />
<strong>Directions</strong> Luitpoldstraße 15, 90402 Nürnberg<br />
<a href="https://bruderherznuernberg.de"/>https://bruderherznuernberg.de</a>
</p>
</div>

