---
layout: lgm25.njk
title: Program
eleventyNavigation:
  key: Program
  order: 1.5
---

{% heading 'h1', title, page.fileSlug %}


{%- macro renderTypeBreak(scheduleItem) -%}
{{ scheduleItem.event.title }} ({{scheduleItem.fullDurationMin}} min)
{%- endmacro -%}

{%- macro ownType(page, pos) -%}
    {%- if page.data.type -%}
      <span class="schedule_item-own_type">{{'—' if pos === 'before' else '' }}{{ page.data.type }}{{'—' if pos === 'after' else '' }}</span>
    {%- endif -%}
{%- endmacro -%}

{%- macro pagelink(page) -%}
    <a class="page-link" href="{{page.url}}">{{page.data.title}}</a>
{%- endmacro -%}


{%- macro renderSingleEvent(scheduleItem, key) -%}
  {%- if collections.allEvents.has(key) -%}
      {% set page = collections.allEvents.get(key) %}
        {{- pagelink(page) -}} {{- ownType(page, 'before') -}}
    {%-for host in page.data.hosts %}
      {{ macro.hostLink(host) }}
    {% endfor %}
    {%-for label in page.data.labels %}
      <a class="label-link" href="{{rootPath}}/program/label-{{label | slugify}}">#{{label}}</a>
    {%- endfor %}
  {%- endif -%}
{%- endmacro -%}

{%- macro renderTypeTalk(scheduleItem) -%}
  {%- set key = scheduleItem.keys[0] -%}
  {{- renderSingleEvent(scheduleItem, key) -}}
{%- endmacro -%}

{%- macro renderTypeSessions(scheduleItem) -%}
  <h3>Parallel Sessions</h3>
  <ul>
  {%- for key in scheduleItem.keys -%}
  <li>{{ renderSingleEvent(scheduleItem, key) }}</li>
  {%- endfor -%}
  </ul>
{%- endmacro -%}

{%- macro renderSchedulItem(scheduleItem) -%}
  {% if scheduleItem.type === 'break' %}
    {{ renderTypeBreak(scheduleItem) }}
  {% elif ['talk', 'community', 'general', 'lightning', 'keynote'].includes(scheduleItem.type) %}
    {{ renderTypeTalk(scheduleItem) }}
  {% elif scheduleItem.type === 'sessions' %}
    {{ renderTypeSessions(scheduleItem) }}
  {% elif scheduleItem.type === 'inject' %}
    {{ scheduleItem.content }}
  {% endif %}
{%- endmacro -%}


{%- macro renderScheduleRow(timeZoneName, scheduleItem) -%}
{% set date = scheduleItem.startTime %}
<tr class="schedule_item schedule_item-type-{{scheduleItem.type}}">
    <th class="schedule_item-time">
        <time datetime="{{date.toISOString()}}">{{
          date.toLocaleTimeString('en-US', {
              hour: '2-digit',
              minute:'2-digit',
              hour12: false,
              timeZone: timeZoneName})
        }}</time>
    </th>
    <td class="schedule_item-content">
    {{ renderSchedulItem(scheduleItem) }}
    </td>
</tr>
{%- endmacro -%}

{%- macro legend() -%}
<section class="schedule-legend">
  <h3>Legend</h3>
  <span class="legend-general">general, LGM-community</span>
  <span class="legend-talk">talk, lightning talks</span>
  <span class="legend-sessions">parallel sessions</span>
</section>
{%- endmacro -%}

{% for dayData in dailySchedules.days %}
    {{ legend() }}
    {% set formattedDate = dayData.dateAndStartTime.toLocaleDateString('en-US', {
                    weekday: "long",
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                    timeZone: dailySchedules.timeZone.timeZoneName,
                    timeZoneName: 'short'
                })
    %}
    {% set day = dayData.dateAndStartTime.toLocaleDateString('en-US', { weekday: "long"}) %}
    {% heading 'h2', formattedDate, day %}
<table class="schedule">
    {% for scheduleItem in dayData.schedule %}
    {{ renderScheduleRow(dailySchedules.timeZone.timeZoneName, scheduleItem) }}
    {% endfor %}
    {% set scheduleItem = dayData.schedule | last %}
    {% set endItem = {startTime: dayData.realEndTime, type: "inject", content: "Day's End"} %}
    {{ renderScheduleRow(dailySchedules.timeZone.timeZoneName, endItem) }}
</table>
{% endfor %}

{# {% schedule dailySchedules, collections.allEvents %} #}


<h2> <a id="closing-night-party" href="#closing-night-party" class="heading_anchor" aria-hidden="true">#</a>Closing Night Party</h2>

<div class="call_for_action">
Call for<br />
<a href="{{rootPath}}/news/2025-05-09_0001-call-for-acts-for-the-closing-night-party">Acts for the</a><br />
Closing Night Party.
</div>

<p>
<strong>Venue</strong> <a href="https://desi-nbg.de/">Desi</a><br />
<strong>Directions</strong> <a href="https://desi-nbg.de/anfahrt/">Brückenstraße 23</a><br />
<strong>Doors</strong> approximately 21:00<br />
<strong>Details</strong> <a href="{{rootPath}}/news/2025-05-09_0001-call-for-acts-for-the-closing-night-party/">Call for Acts for the Closing Night Party</a>
</p>
