---
layout: lgm25.njk
pagination:
  data: collections.allLabels
  size: 1
  alias: label
permalink: "{{page.filePathStem}}-{{label.slug}}/"
---
<nav class="page-nav">
Back to <a href="{{rootPath}}/program">Program</a><br />
</nav>

{% heading 'h1', 'Label: #'+label.name, label.name %}

<ul class="label-events">
{% for key in label.pages %}
    {% set item = collections.allEvents.get(key) %}
    <li>{% for date in dailySchedules.keyToTimes.get(item.fileSlug) %}
    <time datetime="{{date.toISOString()}}">{{
        date.toLocaleDateString('en-US', {
                weekday: "long",
                hour: '2-digit', minute:'2-digit', hour12: false
            })
    }}</time>
    {% endfor %}
    <a href="{{ item.url }}">{{ item.data.title }}</a>{% if item.data.type %}<span class="event-type">—{{item.data.type}}</span>{% endif %}</li>
{% endfor %}
</ul>
