<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{%- if clip.data.title %}{{clip.data.title   }} - {% endif-%}
        Libre Graphics Meeting 2025 – RE:imagination, Nuremberg, Germany</title>
        <meta name="viewport" content="initial-scale=1,shrink-to-fit=no">
        <link
            rel="stylesheet"
            href="{% cacheBusterUrl 'css/main.css' %}"/>
        <script src="{% cacheBusterUrl 'js/main.js' %}"
            async
            type="module"></script>
    </head>
    <body class="clips-container{% if layoutBodyClass %} {{ layoutBodyClass }}{% endif %}">
            <article>

        {% if layoutBodyClass === "outro" %}
            {{ logo_compact | safe}}
            {{ content | safe }}
        {% else %}
            {{ logo_boxes | safe}}
            {{ logo_text | safe}}
            {{ reimagination | safe}}
            <div class="presentation-payload {{clip.data.clipsInjectClass}}">
                {{ content | safe }}
            </div>
        {% endif %}

                <div class="filler filler-1"></div>
                <div class="filler filler-2"></div>
            </article>
    </body>
</html>
