<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{%- if title %}{{title}} - {% endif-%}
        Libre Graphics Meeting 2025 – RE:imagination, Nuremberg, Germany</title>
        <meta name="viewport" content="initial-scale=1,shrink-to-fit=no">
        <link
            rel="stylesheet"
            href="{{ rootPath }}/css/main.css" />
        <script src="{{ rootPath }}/js/main.js"
            async
            type="module"></script>
        <!-- for syntax highlighting https://www.11ty.dev/docs/plugins/syntaxhighlight/-->
        <!--
        <link
            href="https://unpkg.com/prismjs@1.29.0/themes/prism-tomorrow.min.css"
            rel="stylesheet"
        />
        -->
        {% if headInject %}
            {{ headInject | safe }}
        {% endif %}
    </head>
    <body>
        <div class="wrapper">
            <header>
                {{ logo_boxes | safe}}
                {{ logo_text | safe}}
                {{ reimagination | safe}}
                <div class="filler filler-1"></div>
                <div class="filler filler-2"></div>
                <h1>Libre Graphics Meeting 2025 – RE:imagination</h1>
                <h2>28-31 May Nuremberg, Germany</h2>

                <nav>
                    {{ collections.all
                        | eleventyNavigation
                        | eleventyNavigationToHtml({
                            activeListItemClass: "active",
                            activeKey: eleventyNavigation.key
                        })
                        | safe
                    }}
                    {%- set pastEditions = [
                            ['/2024/', '2024', 'Rennes']
                          , ['/2021/en/index.html', '2021', '(online)']
                          , ['/2020/en/index.html', '2020', 'Rennes (online)']
                          , ['/2019/', '2019', 'Saarbruck']
                          , ['/2018/', '2018', 'Sevilla']
                          , ['/2017/', '2017', 'Rio de Janeiro']
                          , ['/2016/', '2016', 'London']
                          , ['/2015/', '2015', 'Toronto']
                          , ['/2014/', '2014', 'Leipzig']
                          , ['/2013/', '2013', 'Madrid']
                          , ['/2012/', '2012', 'Vienna']
                          , ['/2011/', '2011', 'Montreal']
                          , ['/2010/', '2010', 'Brussels']
                          , ['/2009/', '2009', 'Montreal']
                          , ['/2008/', '2008', 'Wrocław']
                          , ['/2007/', '2007', 'Montreal']
                          , ['/2006/', '2006', 'Lyon']
                    ] -%}
                    <div class="past_editions">
                    <span>Past Editions</span>
                    <ul><!-- The archive of past editions. -->
                        {% for href, year, location in pastEditions -%}
                        <li><a href="{{ href }}"><em>{{ year }}</em> | <span>{{ location }}</span></a></li>
                        {%- endfor %}
                    </ul>
                    </div>
                    <button class="play_pause" title="Play and pause the animation of the background."><span>Play/pause background animation.</span></button>
                </nav>
            </header>
            <article class="content">
                {{ content | safe }}
            </article>
            <footer><a href="{{ rootPath }}/impressum">Impressum</a></footer>
        </div> <!-- wrapper -->
    </body>
</html>
