{%- macro example(title) -%}
Example Macro: <strong>{{title}}</strong>
{%- endmacro -%}

{%- macro sponsor(level, name, url, logoUrl, slogan=null) -%}
<div class="sponsorship sponsorship-level_{{level}}">
    <a class="sponsorship-logo" href="{{url}}"><img src="{{logoUrl}}" alt="Logo Sponsor: {{name}}" /></a>
    <span class="sponsorship-info"><a class="sponsorship-link" href="{{url}}">{{name}}</a>{%- if slogan %} – {{slogan}}{%- endif -%}</span>
</div>
{%- endmacro -%}

{%- macro hostName(host) -%}
{% set hostPage = collections.all | filterPage('hosts', host) %}
{%- if hostPage -%}
   {{hostPage.data.fullName}}
{%- else -%}
    {{host}}
{%- endif -%}
{%- endmacro -%}

{%- macro hostLink(host) -%}
{% set hostPage = collections.all | filterPage('hosts', host) %}
{%- if hostPage -%}
    <a class="host-link" href="{{hostPage.url}}">{{hostPage.data.fullName}}</a>
{%- else -%}
    {{host}}
{%- endif -%}
{%- endmacro -%}


{%- macro hostLinkList(hosts) -%}
<ul>
{%- for host in hosts -%}
    <li>{{ hostLink(host) }}</li>
{% endfor %}
</ul>
{%- endmacro -%}
