{%- macro example(title) -%}
Example Macro: <strong>{{title}}</strong>
{%- endmacro -%}

{%- macro sponsor(level, name, url, logoUrl, slogan=null, classes='') -%}
<div class="sponsorship sponsorship-level_{{level}}{%- if classes %} {{classes}}{%- endif -%}">
    <a class="sponsorship-logo" href="{{url}}"><img src="{{logoUrl}}" alt="Logo Sponsor: {{name}}" /></a>
    <span class="sponsorship-info"><a class="sponsorship-link" href="{{url}}">{{name}}</a>{%- if slogan %} – {{slogan}}{%- endif -%}</span>
</div>
{%- endmacro -%}

{%- macro partner(name, url, logoUrl, slogan=null) -%}
<div class="partner">
    <a class="partner-logo" href="{{url}}"><img src="{{logoUrl}}" alt="Logo Sponsor: {{name}}" /></a>
    <span class="partner-info"><a class="partner-link" href="{{url}}">{{name}}</a>{%- if slogan %} – {{slogan}}{%- endif -%}</span>
</div>
{%- endmacro -%}

{%- macro hostName(host) -%}
{% set hostPage = collections.all | filterPage('hosts', host) %}
{%- if hostPage -%}
   {{hostPage.data.fullName}}
{%- else -%}
    {{host}}
{%- endif -%}
{%- endmacro -%}

{%- macro hostLink(host) -%}
{%- set hostPage = collections.all | filterPage('hosts', host) -%}
{%- if hostPage -%}
    <a class="host-link" href="{{hostPage.url}}">{{hostPage.data.fullName}}</a>
{%- else -%}
    {{host}}
{%- endif -%}
{%- endmacro -%}


{%- macro hostLinkList(hosts) -%}
<ul>
{%- for host in hosts -%}
    <li>{{ hostLink(host) }}</li>
{% endfor %}
</ul>
{%- endmacro -%}

{% macro blockImage(file, alt) %}
<div class="block-image">
<img
    src="{{rootPath}}/img/{{file}}"
    alt="{{alt}}" />
</div>
{% endmacro %}



{%- macro renderTypeBreak(scheduleItem) -%}
{{ scheduleItem.event.title }} ({{scheduleItem.fullDurationMin}} min)
{%- endmacro -%}

{%- macro ownType(page, pos) -%}
    {%- if page.data.type -%}
      <span class="schedule_item-own_type">{{'—' if pos === 'before' else '' }}{{ page.data.type }}{{'—' if pos === 'after' else '' }}</span>
    {%- endif -%}
{%- endmacro -%}

{%- macro pagelink(page) -%}
    <a class="page-link" href="{{page.url}}">{{page.data.title}}</a>
{%- endmacro -%}


{%- macro renderSingleEvent(scheduleItem, key) -%}
  {%- if collections.allEvents.has(key) -%}
      {% set page = collections.allEvents.get(key) %}
        {{- pagelink(page) -}} {{- ownType(page, 'before') -}}
    {%-for host in page.data.hosts %}
      {{ hostLink(host) }}
    {% endfor %}
    {%-for label in page.data.labels %}
      <a class="label-link" href="{{rootPath}}/program/label-{{label | slugify}}">#{{label}}</a>
    {%- endfor %}
  {%- endif -%}
{%- endmacro -%}

{%- macro renderTypeTalk(scheduleItem) -%}
  {%- set key = scheduleItem.keys[0] -%}
  {{- renderSingleEvent(scheduleItem, key) -}}
{%- endmacro -%}

{%- macro renderTypeSessions(scheduleItem) -%}
  <h3>Parallel Sessions</h3>
  <ul>
  {%- for key in scheduleItem.keys -%}
  <li>{{ renderSingleEvent(scheduleItem, key) }}</li>
  {%- endfor -%}
  </ul>
{%- endmacro -%}

{%- macro renderSchedulItem(scheduleItem) -%}
  {% if scheduleItem.type === 'break' %}
    {{ renderTypeBreak(scheduleItem) }}
  {% elif ['talk', 'community', 'general', 'lightning', 'keynote'].includes(scheduleItem.type) %}
    {{ renderTypeTalk(scheduleItem) }}
  {% elif scheduleItem.type === 'sessions' %}
    {{ renderTypeSessions(scheduleItem) }}
  {% elif scheduleItem.type === 'inject' %}
    {{ scheduleItem.content }}
  {% endif %}
{%- endmacro -%}


{%- macro renderScheduleRow(timeZoneName, scheduleItem) -%}
{% set date = scheduleItem.startTime %}
<tr class="schedule_item schedule_item-type-{{scheduleItem.type}}">
    <th class="schedule_item-time">
        <time datetime="{{date.toISOString()}}">{{
          date.toLocaleTimeString('en-US', {
              hour: '2-digit',
              minute:'2-digit',
              hour12: false,
              timeZone: timeZoneName})
        }}</time>
    </th>
    <td class="schedule_item-content">
    {{ renderSchedulItem(scheduleItem) }}
    </td>
</tr>
{%- endmacro -%}

{%- macro legend(tag) -%}
<{{tag or "section" }} class="schedule-legend">
  <h3>Legend</h3>
  <span class="legend-general">general, LGM-community</span>
  <span class="legend-talk">talk, lightning talks</span>
  <span class="legend-sessions">parallel sessions</span>
</{{tag or "section"}}>
{%- endmacro -%}
