<!DOCTYPE html>
<html lang="en" class="presentation{% if layoutClass %}{{ layoutClass }}{% endif %}">
    <head>
        <meta charset="utf-8">
        <title>{%- if title %}{{title}} - {% endif-%}
        Libre Graphics Meeting 2025 – RE:imagination, Nuremberg, Germany</title>
        <meta name="viewport" content="initial-scale=1,shrink-to-fit=no">
        <link
            rel="stylesheet"
            href="{% cacheBusterUrl 'css/main.css' %}"/>
        <script src="{% cacheBusterUrl 'js/main.js' %}"
            async
            type="module"></script>
        <script async type="module">
            import Reveal from '{{rootPath}}/js/revealjs/reveal.esm.js';
            //import Markdown from 'reveal.js/plugin/markdown/markdown.esm.js';

            let deck = new Reveal({
                //plugins: [Markdown],
                width: 1920,
                height: 1080,

                // Factor of the display size that should remain empty around
                // the content
                margin: 0.04,

                // Bounds for smallest/largest possible scale to apply to content
                minScale: 0.2,
                maxScale: 2.0,
                controls: false,
                ... ({{ (revealjsOptions or false) | asJSON | safe }} || {})
            });
            deck.initialize();
        </script>
        <link rel="stylesheet" href="{{rootPath}}/js/revealjs/reveal.css" />
        <!--<link rel="stylesheet" href="{{rootPath}}/js/revealjs/theme/simple.css" />-->
        <style>
            .slides > section {
                a {
                    text-decoration: none;
                }

                & > div {
                    padding-top: 2em;
                    width: 80%;
                    margin: 0 auto;
                    text-align: left;

                    display: flex;
                    flex-direction: column;
                    --justify-content: space-between;
                    height: calc(100% - 4em);

                }
                :is(h1, h2) {
                    text-align: center
                }
                h2 {
                    margin-bottom: .5em;
                }
                .schedule h3{
                    margin-top: 0;
                }

        </style>
        {% if injectStyles %}
        <style>
            .slides section {
                {{injectStyles | safe}}
            }
        </style>
        {% endif %}

        {% if headInject %}
            {{ headInject | safe }}
        {% endif %}
    </head>
    <body>
        <article class="reveal">
            <div class="slides">
                {{ content | safe }}
            </div>
        </article> <!-- wrapper -->
    </body>
</html>
